@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #b6ad90;
}



/*================= MAIN =================*/

main  {
    width: 90%;
    max-width: 1050px;
    /* height: 447px; */
    margin: 50px auto;
    /* border: 1px solid; */
    text-align: center;
    color: white;
    padding: 0.063rem;
    
}

main h1 {
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
}

main #content {
    width: 100%;
    height: 100%;
    border-radius: 0.188rem;
    background-color: #0000006b;
    padding: 0.063rem;
}

main #content img {
    width: 70%;
    margin: 1.25rem 0;
    border-top-left-radius: 4.813rem;
    border-bottom-right-radius: 4.813rem;
}

main #content p {
    line-height: 1.75rem;
    padding: 0px 7rem;
    margin-bottom: 1.25rem;
}

main button {
    display: inline-block;
    background-color: #0000006b;
    border-radius: 3.438rem;
    height: 40px;
    margin: 2.938rem 0 2.5rem;
    color: white;
    padding: 0.625rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

/*========Essa tag a é a que vai ser injetada nas telas de gameover via js========*/
main #gameOverButton {
    display: inline-block;
    background-color: #0000006b;
    border-radius: 3.438rem;
    height: 40px;
    margin: 2.938rem 0 2.5rem;
    color: white;
    padding: 0.625rem;
    border: none;
    font-size: 1rem;
    text-decoration: none;
}

/*========Esse cursor vai ser injetado na tela de gameover da fase 2 via js========*/
main #content #harry {
    color: wheat;
    cursor: url('../img/itens/dumbledore-wand-2.png'), auto;
}