@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* html {
    background-image: url(../img/bg/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */



/*================= MAIN =================*/

header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 43px;
    background-color: #847b61;
}

header p {
    font-size: 1.438rem;
}


/*================= MAIN =================*/

/* main {
    width: 100%;
} */

main #intro {
    width: 100%;
    /* height: 560px; */
    background-image: url(../img/bg/bg-1.jpg);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2.5rem 0;
}

main #intro > div {
    width: 90%;
    max-width: 1050px;
    /* height: 447px; */
    margin: 0 auto;
    /* border: 1px solid; */
    text-align: center;
    color: white;
    padding: 0.063rem;
    backdrop-filter: blur(2px);
    border-radius: 0.313rem;
    background-color: #0000006b;
}

main #intro h1 {
    margin: 1.25rem;
    font-size: 1.875rem;
}

main #intro hr {
    width: 90%;
    max-width: 819px;
    margin: 0 auto;
}

main #intro p {
    width: 86%;
    max-width: 678px;
    margin: 2.938rem auto 1.25rem;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: 0.125rem;
}

/* main #intro a {
    display: inline-block;
    background-color: #3d3737;
    border-radius: 3.438rem;
    width: 86px;
    height: 40px;
    margin: 7rem 0 2.5rem;
    text-decoration: none;
    color: black;  
} */

main #intro a h2 {
    font-size: 20px;
    margin: 0.438rem 0 0.313rem;
}


main #personagens {
    width: 100%;
    background-color: #b6ad90;
    padding: 2.5rem 0;
}

main #personagens > div {
    width: 90%;
    max-width: 1050px;
    margin: 0 auto ;
    padding: 0.063rem;
    backdrop-filter: blur(2px);
    border-radius: 0.313rem;
    
    text-align: center;
}

main #personagens h2 {
    text-align: center;
    margin-bottom: 1.25rem;
}

main #personagens #cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

main #personagens #cards #card {
    width: 205px;
    text-align: center;
}

main #personagens #cards img {
    width: 100%;
    height: 253px;
    object-fit: cover;
    background-color: rgb(47, 47, 47);
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    border-radius: 0.188rem;
}

main #personagens #cards #card #card-description h4 {
    margin-top: 0.25rem;
}

main #personagens #cards #card #card-description p {
    margin-top: 0.75rem;
}

main #personagens button {
    display: inline-block;
    background-color: #3d3737;
    border-radius: 3.438rem;
    /* width: 86px; */
    height: 40px;
    margin: 7rem 0 2.5rem;
    color: black;
    padding: 0.625rem;
    border: none;
    font-size: 1rem;
}




/*================= FOOTER =================*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #847b61;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    font-size: 0.875rem;
}

footer p:last-child {
    margin-left: 0.375rem;
}


/* @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
} */