@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



/*================= MAIN =================*/

main {
    width: 90%;
    max-width: 1050px;
    height: 641px;
    margin: 20px auto ;
    background-color: rgb(151, 148, 148);
    border: 1px solid;
    text-align: center;
}